

.App {
  font-family: sans-serif;
  text-align: center;
  padding-top: 10px;
  min-height: 100vh;
  background: #44a851;
  color: rgb(225, 250, 228);
}

.box {
  width: 50px;
  height: 50px;
  background: #dc5b39;
  margin: 0 auto;
  transform: translateY(300px);
  transition: 0.3s cubic-bezier(0.56, 0.2, 0.46, 1.27) all;
}

.box1 {
  width: 50px;
  height: 50px;
  background: yellow;
  margin: auto;
  transform: translateX(300px);
  transition: 0.3s cubic-bezier(0.56, 0.2, 0.46, 1.27) all;
}

button {
  margin-top: 10px;
  padding: 5px;
  background: #049ad7;
  color: rgb(225, 244, 252);
  font-size: 20px;
  border-radius: 10px;
  border: none;
  width: 100px;
  cursor: grab;
}

.btn-down {
  margin-top: 30vh;
  
}


